In [18]:
#problem1
from shapely.geometry import Point, LineString, Polygon
#1
def createPointGeom(x_coord,y_coord):
    return Point(x_coord,y_coord)

#I will create 3 Point-objects with the function
p1=createPointGeom(2.5,3.5)
p2=createPointGeom(15.7,-6.4)
p3=createPointGeom(0.2,49.9)

#2
def createLineGeom(list_points):
    if isinstance(list_points[0], Point):
        return LineString(list_points)
    else:
        print("Wrong type")
    
#create lines
a=createLineGeom([p1,p2,p3])
b=createLineGeom([(2.5, 3.5), (15.7, -6.4), (0.2, 49.9)])
#as this should only work for shapely point objects, it will not work for coordinate tuples

#3
def createPolyGeom(list_coord):
    if isinstance(list_coord[0], Point):
        return Polygon([[p.x, p.y] for p in list_coord])
    else:
        return Polygon(list_coord)

#create polygons    
c=createPolyGeom([(2.5, 3.5), (15.7, -6.4), (0.2, 49.9)])
d=createPolyGeom([p1, p2, p3])

Wrong type

In [29]:
#problem 2
from shapely.geometry import Point, LineString, Polygon

#1
def getCentroid(shape):
    return print(shape.centroid)
line2 = LineString([(2.2, 4.2), (7.2, -25.1), (9.26, -2.456)])
#get centroids
getCentroid(line2)
getCentroid(c)

#2
def getArea(shape):
    return print(shape.area)
world_exterior = [(-180, 90), (-180, -90), (180, -90), (180, 90)]
world = Polygon(shell=world_exterior)
#get areas
getArea(world)

#3
def getLength(shape):
    if isinstance(shape, LineString):
        return shape.length
    elif isinstance(shape, Polygon):
        ext=shape.exterior
        return ext.length
    else:
        print("Error: Linestring or Polygon is required!")
#get lengths for line and a polygon
print(getLength(line2))
getLength(c)

POINT (6.229961354035622 -11.89241115757239)
POINT (6.133333333333333 15.66666666666667)
64800.0
52.46106912939557

121.35166087678337

In [20]:
#problem 3
import pandas as pd
#reading the data in
df = pd.read_csv('C:/Users/Kasutaja/Documents/Geopython/L1/travelTimes_2015_Helsinki.txt', sep=';', encoding='latin1')
df.head(5)

#creating additional columns called orig_points and dest_points
df['orig_points']=df.apply(lambda x: createPointGeom(x['from_x'], x['from_y']), axis=1)
df['dest_points']=df.apply(lambda x: createPointGeom(x['to_x'], x['to_y']), axis=1)
#check, whether these columns were created
df.head(5)

,from_id,to_id,fromid_toid,route_number,at,from_x,from_y,to_x,to_y,total_route_time,route_time,route_distance,route_total_lines,orig_points,dest_points
0,5861326,5785640,5861326_5785640,1,08:10,24.970438,60.311917,24.856034,60.399941,125.0,99.0,22917.6,2.0,POINT (24.9704379 60.3119173),POINT (24.8560344 60.3999406)
1,5861326,5785641,5861326_5785641,1,08:10,24.970438,60.311917,24.860568,60.400014,123.0,102.0,23123.5,2.0,POINT (24.9704379 60.3119173),POINT (24.8605682 60.4000135)
2,5861326,5785642,5861326_5785642,1,08:10,24.970438,60.311917,24.865102,60.400086,125.0,103.0,23241.3,2.0,POINT (24.9704379 60.3119173),POINT (24.865102 60.4000863)
3,5861326,5785643,5861326_5785643,1,08:10,24.970438,60.311917,24.869636,60.400159,129.0,107.0,23534.2,2.0,POINT (24.9704379 60.3119173),POINT (24.8696358 60.4001589)
4,5861326,5787544,5861326_5787544,1,08:10,24.970438,60.311917,24.842582,60.397478,118.0,92.0,22428.2,2.0,POINT (24.9704379 60.3119173),POINT (24.8425817 60.39747779999999)

In [21]:
#problem 4
#1
df['lines']=df.apply(lambda x: createLineGeom([x['orig_points'], x['dest_points']]), axis=1)
#check, whether this was created and seems right
df.head(5)

,from_id,to_id,fromid_toid,route_number,at,from_x,from_y,to_x,to_y,total_route_time,route_time,route_distance,route_total_lines,orig_points,dest_points,lines
0,5861326,5785640,5861326_5785640,1,08:10,24.970438,60.311917,24.856034,60.399941,125.0,99.0,22917.6,2.0,POINT (24.9704379 60.3119173),POINT (24.8560344 60.3999406),"LINESTRING (24.9704379 60.3119173, 24.8560344 ..."
1,5861326,5785641,5861326_5785641,1,08:10,24.970438,60.311917,24.860568,60.400014,123.0,102.0,23123.5,2.0,POINT (24.9704379 60.3119173),POINT (24.8605682 60.4000135),"LINESTRING (24.9704379 60.3119173, 24.8605682 ..."
2,5861326,5785642,5861326_5785642,1,08:10,24.970438,60.311917,24.865102,60.400086,125.0,103.0,23241.3,2.0,POINT (24.9704379 60.3119173),POINT (24.865102 60.4000863),"LINESTRING (24.9704379 60.3119173, 24.865102 6..."
3,5861326,5785643,5861326_5785643,1,08:10,24.970438,60.311917,24.869636,60.400159,129.0,107.0,23534.2,2.0,POINT (24.9704379 60.3119173),POINT (24.8696358 60.4001589),"LINESTRING (24.9704379 60.3119173, 24.8696358 ..."
4,5861326,5787544,5861326_5787544,1,08:10,24.970438,60.311917,24.842582,60.397478,118.0,92.0,22428.2,2.0,POINT (24.9704379 60.3119173),POINT (24.8425817 60.39747779999999),"LINESTRING (24.9704379 60.3119173, 24.8425817 ..."

In [24]:
#2
df['linelength']=df.apply(lambda x: getLength(x['lines']), axis=1)
df.head(5)
print(df['linelength'].mean())

0.2150222482322721